* {
  /*margin: 0;
  padding: 0;*/
}

table {
  border-collapse: collapse;
  width: 100%;
}
  table tr.keyword {
    padding:10px 0 6px 0;
    background-color:rgba(0, 128, 0, 0.16);
    transition: 270ms;
    cursor: pointer;
  }
  table tr.keyword:hover {
    background-color:rgba(15, 0, 128, 0.16);
  }
    table tr.keyword td.kw {
      padding:10px 15px;
    }
    table tr.keyword td.stat {
      border-right: 1px solid rgba(0, 128, 0, 0.5);
    }
      table tr.keyword td.stat div {
        background-color:rgba(0, 128, 0, 0.26);
        height: 20px;
      }
    table tr.keyword td:last-child {
      padding: 0 30px;
    }

    table td.occurs {
      padding: 10px;
    }
