<!DOCTYPE html>
<html>
  <head>
    <title>WebIndex</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='design.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='jquery-ui.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='jquery-ui.theme.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='jquery-ui.structure.min.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,700,300' rel='stylesheet' type='text/css'>
  </head>
  <body>

    <!-- Handle flashe messages from Flask -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <h1>WebIndex</h1>
    <p class="info">
      Will automatically try to load an inverted index and repository at
      'data/ii.txt' and 'data/repo.txt'.<br>
      When files are loaded, the repository and inverted index are saved to
      'data/repo.txt' and 'data/ii.txt' respectively.<br>
      <b>Bias</b> is a value that multiply the current rank of a word. A bias
      of 2 will give a rank twice greater and 0.5 twice smaller.
    </p>

    <div class="row">
      <!-- Folder upload form -->
      <div class="block">
        <h3>Upload folder</h3>
        <form action="" method=post enctype=multipart/form-data>
          <p class="info">This feature works only with Chrome browser. Select a folder
          and it will parse each *.html file it finds.</p>
          <input type=file name=file webkitdirectory directory multiple>
          <input type=submit value=Upload>
        </form>
      </div>
      <!-- Number of key-words form -->
      <div class="block">
        <h3>Change number of words</h3>
        <form action="" method=get>
          <p class="info">Change the number of keywords shown. By default,
            100 are displayed.</p>
          <input type=number name=quantity>
          <input type=submit value=Change>
        </form>
      </div>
      <!-- Search keywords -->
      <div class="block">
        <h3>Search for a keyword and apply bias</h3>
        <label for="autocomplete">Select a keyword: </label>
        <input id="autocomplete">
        <div class="keyword-update">
          Selected:
          <b><span class="keyword"></span></b>
          <span class="rank"></span>
          <form action="" method=get>
            <input type="number" name="bias" disabled="" step="0.0001" min="0">
            <input type="hidden" name="word" class="keyword-form">
            <input type="submit" value="Bias" disabled="">
          </form>
        </div>
      </div>
    </div>

    <!-- Keywords table -->
    <table>
      <thead>
        <tr>
          <th>Bias</th>
          <th>Keyword (number of documents)</th>
          <th>Histogram</th>
          <th>Index score</th>
        </tr>
      </thead>
      <!-- For each keyword -->
      {% for word in best %}
        <tr class="keyword">
          <td class="bias">
            <form action="" method=get>
              <input type="number" name="bias" step="0.0001" min="0">
              <input type="hidden" name="word" value="{{ word[0] }}">
              <input type="submit" value="Bias">
            </form>
          </td>
          <td class="kw toggle-keyword"><b>{{ word[0] }}</b> ({{ word[2] | length }})</td>
          <td class="stat toggle-keyword">
            <div style="width:{{ word[1] | hist }}px">
            </div>
          </td>
          <td class="toggle-keyword">{{ word[1] | cut }}</td>
        </tr>
        <tr class="occurs-wrapper">
          <td class="occurs" colspan="99">
            <table>
              <!-- For each occurence of a keyword in a document -->
              {% for dococcur in word[2] %}
                <tr class="occur">
                  <td>{{ dococcur[2][0][0] }} <b>{{ word[0] }}</b> {{ dococcur[2][0][1] }}</td>
                  <td><a href="{{ url_for('static', filename=dococcur[1]) }}">{{ dococcur[1] }}</a></td>
                  <td>{{ dococcur[0] | cut }}</td>
                </tr>
                <tr class="toggle-occurs">
                  <td class="display-occurs">+ ({{ dococcur[2] | length - 1 }})</td>
                </tr>
                <tr class="all-occurs">
                  <td colspan="99">
                    <table>
                      {% for occur in dococcur[2][1:] %}
                      <tr>
                        <td>{{ occur[0] }} <b>{{ word[0] }}</b> {{ occur[1] }}</td>
                      </tr>
                      {% endfor %}
                    </table>
                  </td>
                </tr>
              {% endfor %}
            </table>
          </td>
        </tr>
      {% endfor %}
    </table>

    <!-- Load Jquery -->
    <script type=text/javascript src="{{
      url_for('static', filename='jquery.js') }}"></script>
    <!-- Load Jquery UI -->
    <script type="text/javascript" src="{{
      url_for('static', filename='jquery-ui-1.11.4.min.js') }}"></script>
    <!-- Hide occurences, handle toggle click -->
    <script>
      $(document).ready(function(){
        $('.occurs-wrapper').toggle();

        $('.toggle-keyword').on('click', function() {
          $(this).parent('.keyword').next().toggle();
        });

        $('.toggle-occurs').on('click', function() {
          $(this).next().toggle();
        });

        $( "#autocomplete" ).autocomplete({
          source: {{ words|tojson|safe }},
          select: function(event, ui){
            var el = $('.keyword-update');
            el.find('.keyword').text(ui.item.label);
            el.find('.rank').text('(' + ui.item.rank + ')');
            el.find('input').attr('disabled', false);
            el.find('.keyword-form').attr('value', ui.item.label);
          }
        });
      });
    </script>

  </body>
</html>
