<!DOCTYPE html>
<html>
  <head>
    <title>Title</title>
  </head>
  <body>
    {{ get_flashed_messages() }}
    <h1>Hello</h1>

    <form action="" method=post enctype=multipart/form-data>
      <p><input type=file name=file webkitdirectory directory multiple>
         <input type=submit value=Upload>
    </form>

    <table>
      {% for word in best %}
      <tr>
        <td style="border-right: 1px solid rgba(0, 128, 0, 0.5);">
          <div style="background-color:rgba(0, 128, 0, 0.26);
                      width:{{ word[1] | percent }}px;
                      height: 15px;">
          </div>
        </td>
        <td style="padding:0 50px;">{{ word[1] | cut }}</td>
        <td>{{ word[2] }} <b>{{ word[0] }}</b> {{ word[3] }}</td>
        <td><a href="{{ url_for('static', filename=word[4]) }}">{{ word[4] }}</a></td>
      </tr>
      {% endfor %}
    </table>

  </body>
</html>
